In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [5]:
#import the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#preprocessing the data
#drop the irrelevant colmns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
#encode the categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Assuming `data` is a pandas DataFrame containing the 'Geography' column
onehot_encoder_geo = OneHotEncoder()

# Fit and transform the 'Geography' feature
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

# Convert the sparse matrix to a dense array
geo_encoded_array = geo_encoder.toarray()

# Get feature names
geo_feature_names = onehot_encoder_geo.get_feature_names_out(['Geography'])

# Create a DataFrame from the dense array with appropriate column names
geo_encoded_df = pd.DataFrame(geo_encoded_array, columns=geo_feature_names)

# Display the encoded DataFrame
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
#combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [10]:
#saving the encoder and scaler as picke file
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [11]:
#divide the dataset into independent and dependent features
x=data.drop('Exited',axis=1)
y=data['Exited']
#split the data in training and testing set
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
#scale these features
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [13]:
scaled_data=x_test

In [14]:
# Convert to DataFrame for better visualization
scaled_df = pd.DataFrame(scaled_data, columns=x.columns)
scaled_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,-0.577496,0.913248,-0.655786,-0.695393,0.329937,0.808436,-1.540351,-1.025834,-1.019605,-0.998501,1.725723,-0.576388
1,-0.297297,0.913248,0.390011,-1.389442,-1.218471,0.808436,0.649203,0.974817,0.798883,1.001501,-0.579467,-0.576388
2,-0.525607,-1.094993,0.485083,-0.348369,-1.218471,0.808436,0.649203,-1.025834,-0.727980,-0.998501,-0.579467,1.734942
3,-1.511492,0.913248,1.911170,1.039728,0.689272,0.808436,0.649203,0.974817,1.221387,-0.998501,1.725723,-0.576388
4,-0.951094,-1.094993,-1.131148,0.692704,0.782839,-0.916688,0.649203,0.974817,0.247560,-0.998501,-0.579467,1.734942
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,-0.515230,-1.094993,1.340735,-0.001345,0.354911,-0.916688,-1.540351,0.974817,-0.963100,-0.998501,1.725723,-0.576388
1996,-0.442586,0.913248,-1.321293,1.733777,-1.218471,-0.916688,-1.540351,0.974817,0.164545,1.001501,-0.579467,-0.576388
1997,0.813120,-1.094993,0.770301,0.692704,-1.218471,-0.916688,0.649203,-1.025834,-1.165916,1.001501,-0.579467,-0.576388
1998,0.418766,0.913248,-0.941003,-0.348369,-1.218471,-0.916688,0.649203,-1.025834,-0.411635,1.001501,-0.579467,-0.576388
1999,-0.245409,0.913248,0.009721,-1.389442,0.628256,-0.916688,0.649203,0.974817,0.125932,-0.998501,1.725723,-0.576388

In [15]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [17]:

# Building the ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),  # Hidden layer 1
    Dense(32, activation='relu'),                                  # Hidden layer 2
    Dense(1, activation='sigmoid')                                 # Output layer
])

/Users/ujjwalraj/Desktop/churn_modelling/venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
import tensorflow as tf

# Define optimizer with learning rate
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

# Compile the model
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
#setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir='logs/fit/'+datetime.datetime.now().strftime('%d/%m/%y - %H:%M:%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
#setup earlystoppings
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
#train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8109 - loss: 0.4333 - val_accuracy: 0.8580 - val_loss: 0.3666
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - accuracy: 0.8571 - loss: 0.3647 - val_accuracy: 0.8570 - val_loss: 0.3509
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 768us/step - accuracy: 0.8564 - loss: 0.3487 - val_accuracy: 0.8545 - val_loss: 0.3643
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 758us/step - accuracy: 0.8522 - loss: 0.3515 - val_accuracy: 0.8645 - val_loss: 0.3421
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 772us/step - accuracy: 0.8570 - loss: 0.3434 - val_accuracy: 0.8640 - val_loss: 0.3396
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 758us/step - accuracy: 0.8563 - loss: 0.3475 - val_accuracy: 0.8590 - val_loss: 0.3477
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - accuracy: 0.8623 - loss: 0.3372 - val_accuracy: 0.8620 - val_loss: 0.3489
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 752us/step - accuracy: 0.8713 - loss: 0.3224 - val_accuracy: 0.8615 - val_loss: 0.3357
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 750us/step - accuracy: 0.8626 - loss: 0.3265 - val_accuracy: 0.8590 - val_loss: 0.3514
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.8663 - loss: 0.3312 - val_accuracy: 0.8585 - val_loss: 0.3506
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 773us/step - accuracy: 0.8586 - loss: 0.3321 - val_accuracy: 0.8575 - val_loss: 0.3610
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - accuracy: 0.8646 - loss: 0.3281 - val_accuracy: 0.8625 - val_loss: 0.3541
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8740 - loss: 0.3115 - val_accuracy: 0.8600 - val_loss: 0.3408
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 746us/step - accuracy: 0.8651 - loss: 0.3210 - val_accuracy: 0.8630 - val_loss: 0.3467
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 806us/step - accuracy: 0.8728 - loss: 0.3151 - val_accuracy: 0.8620 - val_loss: 0.3439
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - accuracy: 0.8686 - loss: 0.3236 - val_accuracy: 0.8590 - val_loss: 0.3652
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 856us/step - accuracy: 0.8705 - loss: 0.3059 - val_accuracy: 0.8655 - val_loss: 0.3425
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 823us/step - accuracy: 0.8758 - loss: 0.3062 - val_accuracy: 0.8605 - val_loss: 0.3543

In [23]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [24]:
# Load the TensorBoard extension
%load_ext tensorboard

# Start TensorBoard and specify the log directory
%tensorboard --logdir=logs/fit/

In [25]:
# Evaluate the model on test data
results = model.evaluate(x_test, y_test, verbose=1)

# Extract and print the accuracy
accuracy = results[1]  # The second element corresponds to 'accuracy' metric
print(f"Model Accuracy: {accuracy * 100:.2f}%")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.8619 - loss: 0.3313
Model Accuracy: 86.15%

In [26]:
from sklearn.metrics import classification_report, confusion_matrix

# Make predictions
y_pred = (model.predict(x_test) > 0.5).astype("int32")  # Convert probabilities to binary predictions

# Generate a classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Confusion Matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 666us/step
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1607
           1       0.75      0.45      0.56       393

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000

Confusion Matrix:
[[1547   60]
 [ 217  176]]